.tabela{
    margin-top: 30px;
}

.tabela th{
    background-color: rgb(221, 221, 201);
}

.tabela td{
    background-color: #25c42a;
}

.tabela, .tabela td, .tabela th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
}

.tabela :hover {
    background-color: gray;
  }

  h1{
      margin-left: 20%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    border: 1px solid #000;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li{
    text-align: center;
    border-bottom: 1px solid #000;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li a {
    background-color: #25c42a;
    color: black;
  }
  
  li a:hover {
    background-color: #555;
    color: white;
  }

 button{
    border: 1px solid #000;
    margin: 0;
    padding: 0;
 }

 button a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #cedb0e;
    color: black;
  }
  