

.tabela th{
    background-color: rgb(221, 221, 201);
}

.tabela td{
    background-color: rgb(218, 211, 29);
}

.tabela, .tabela td, .tabela th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
}

.tabela :hover {
    background-color: gray;
  }