
body{
  height: 100%;
  height: 100vh;
}
.container-fluid{
  background-color: #C7D3D4FF;
  height: 100vh;
  height: 100%;
}

h1 {
  text-align: center;
}
a{
  color:#603F83FF;
}
footer{
  background-color: #603F83FF;
  text-align: center;
  color: #C7D3D4FF;
  }
img{
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}