

/* .menu li{
    list-style-type: none;
    float: left;
    width: 200px;
    background-color: rgb(74, 74, 104);
    text-align: center;
    margin: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu li a{
    color: white;
    text-decoration: none;
} */