
  .emptyDb{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: wavy;
  }
  
  .blue{
    color: blue;
  }
  
  .pink{
    color: rgb(216, 69, 150);
  }
  
  .gray{
    color: gray;
  }